# UNIT 1
# Basic Programs
### A-2 BATCH ENTC
### EXPERIMENT NUMBER 1
### Darsh Jain
### PRN: 25070123037

In [ ]:
print("welcome to EDA lab")

welcome to EDA lab

In [ ]:
#SECOND PRACTICAL CODE
print('I STUDY IN SIT')

I STUDY IN SIT

In [ ]:
A=10
B=20
print(A+B)

30

In [2]:
a = "Hello"
print(a)

Hello

In [3]:
#Comments
#This is a comment
print("Hello, World!")

Hello, World!

In [4]:
#Many statements
print("Hello World!")
print("Have a good day.")
print("Learning python is fun!")

Hello World!
Have a good day.
Learning python is fun!

In [5]:
print("Hello");print("How are you?");print("Bye bye!")

Hello
How are you?
Bye bye!

In [7]:
#Print numbers
a=3
print(a)
print(358)
print(500.200)

3
358
500.2

In [8]:
#Variables
x=5
y="Hello, World!"
print(x)
print(y)

5
Hello, World!

In [9]:
#Case Sensitive
a=4
A= "Sally"
print(a)
print(A)

4
Sally

In [10]:
#Many Values to Multiple Variables
x,y,z= "Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [14]:
#Basic Arithmetic Operations
a=10
b=5
print("Addition =",a+b)
print("Subtraction=",a-b)
print("Multiplication=",a*b)
print("Division =",a/b)

Addition = 15
Subtraction= 5
Multiplication= 50
Division = 2.0

In [16]:
#Understanding Data Types
x=10
y=3.14
z="Python"
A= True
c=3+2j
print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [17]:
#Taking Input From User
name= input("Enter your name:")
age=int(input("Enter your age:"))
print("Name:",name)
print("Age:",age)

Enter your name:Darsh Jain
Enter your age:19
Name: Darsh Jain
Age: 19

In [20]:
#Question 1: Take marks of 5 subjects. and find the sum and the average.

m1 = float(input("Enter marks of subject 1: "))
m2 = float(input("Enter marks of subject 2: "))
m3 = float(input("Enter marks of subject 3: "))
m4 = float(input("Enter marks of subject 4: "))
m5 = float(input("Enter marks of subject 5: "))

total = m1 + m2 + m3 + m4 + m5
average = total / 5

print("Total marks =", total)
print("Average marks =", average)

Enter marks of subject 1: 34
Enter marks of subject 2: 54.5
Enter marks of subject 3: 67.8
Enter marks of subject 4: 45
Enter marks of subject 5: 32
Total marks = 233.3
Average marks = 46.660000000000004

In [21]:
# Question2: find area of circle.

r = float(input("Enter the radius of the circle: "))
area = 3.14 * r * r
print("Area of the circle =", area)

Enter the radius of the circle: 5
Area of the circle = 78.5

In [22]:
#QUESTION3: Find area of the reactangle
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))
area = length * breadth
print("Area of the rectangle =", area)

Enter the length of the rectangle: 34
Enter the breadth of the rectangle: 2
Area of the rectangle = 68.0

In [23]:
#Question4: Find perimeter of the rectangle
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))
perimeter = 2 * (length + breadth)
print("Perimeter of the rectangle =", perimeter)

Enter the length of the rectangle: 34
Enter the breadth of the rectangle: 21
Perimeter of the rectangle = 110.0

In [24]:
#Question5: Simple Calculator
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

add = num1 + num2

sub = num1 - num2

mul = num1 * num2

div = num1 / num2

print("Addition =", add)
print("Subtraction =", sub)
print("Multiplication =", mul)
print("Division =", div)

Enter first number: 2
Enter second number: 3
Addition = 5
Subtraction = -1
Multiplication = 6
Division = 0.6666666666666666

In [25]:
#Python booleans
print(10>9)
print(10==9)
print(10<9)

True
False
False